@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body {
    box-sizing: border-box;
    width: 1600px;
    font-family: 'Ubuntu', sans-serif;

}

.cup-img {
    position: absolute;
    height: 1107px;
    width: 648px;
    z-index: 2;
}

.span-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 296px;
    height: 78px;
    background-color: black;
    z-index: 3;
    top:934px;
}

.span-title {
    font-family: 'Ubuntu';
    padding-left: 20px;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    font-style: bold;
}





