@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body {
    box-sizing: border-box;
    width: 1600px;
    font-family: 'Ubuntu', sans-serif;

}

.cup-img {
    position: absolute;
    height: 1107px;
    width: 648px;
    z-index: 2;
}

.span-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 296px;
    height: 78px;
    background-color: black;
    z-index: 3;
    top:934px;
}

.span-title {
    font-family: 'Ubuntu';
    padding-left: 20px;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    font-style: bold;
}

.title-container {
    position: relative;
    box-sizing: border-box;
    width: 744px;
    height: 184px;
    background-color: white;
    z-index: 3;
    left: 500px;
    margin-top: 52px;

}

.title-text {
    font-family: 'Ubuntu';
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;   
    margin: 0;
}

.title-star_quantity {
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 400;
    margin-left: 16px;
}



.title-container_inside { 
    padding-left: 55px;
}

.title-star_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
}

.main {
    margin-left: 757px;
    padding-top: 20px;
}

.section-advantages { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inside-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    
}

.text-container {
    display: flex;
    flex-direction: column;
}

.section-icon {
    width: 32px;
    height: 32px;
    padding-right: 8px;
} 

.text-first {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;

}

.text-second {
    margin: 0;
    font-size: 14px;
    color: #FFA41B;
}

