

.body {
    box-sizing: border-box;
    width:1600px;
    height: 1000px;
}

.page {

    background-color: yellow;
    background-image: url('./images/cup-coffe.jpg') ;
    background-size: 648px 1000px;
    background-repeat: no-repeat;
}

.content {
    padding-left: 757px; 
}

